Shop_PhuocToan/.vs/Shop_PhuocToan/config/applicationhost.config
Shop_PhuocToan/.vs/Shop_PhuocToan/CopilotIndices/17.14.1147.5054/CodeChunks.db
Shop_PhuocToan/.vs/Shop_PhuocToan/CopilotIndices/17.14.1147.5054/CodeChunks.db-shm
Shop_PhuocToan/.vs/Shop_PhuocToan/CopilotIndices/17.14.1147.5054/CodeChunks.db-wal
Shop_PhuocToan/.vs/Shop_PhuocToan/CopilotIndices/17.14.1147.5054/SemanticSymbols.db
Shop_PhuocToan/.vs/Shop_PhuocToan/CopilotIndices/17.14.1147.5054/SemanticSymbols.db-shm
Shop_PhuocToan/.vs/Shop_PhuocToan/CopilotIndices/17.14.1147.5054/SemanticSymbols.db-wal
Shop_PhuocToan/.vs/Shop_PhuocToan/FileContentIndex/0e9badaf-caba-4fd2-8f6c-8399b89dec8f.vsidx
Shop_PhuocToan/.vs/Shop_PhuocToan/FileContentIndex/3430b5dd-9de5-45f1-b46a-54f4fd03c271.vsidx
Shop_PhuocToan/.vs/Shop_PhuocToan/FileContentIndex/42b68b1d-7a69-43bf-9118-bb9d7a8e91d3.vsidx
Shop_PhuocToan/.vs/Shop_PhuocToan/FileContentIndex/466688f1-777a-4c36-9a31-bc175d861a8d.vsidx
Shop_PhuocToan/.vs/Shop_PhuocToan/FileContentIndex/54d0d255-c745-4d36-89e4-94623ba87727.vsidx
Shop_PhuocToan/.vs/Shop_PhuocToan/FileContentIndex/90f808d8-4d20-4ce7-bb31-c1977e38ba27.vsidx
Shop_PhuocToan/.vs/Shop_PhuocToan/FileContentIndex/99a12257-0bac-4250-9b68-f8dbc29f096a.vsidx
Shop_PhuocToan/.vs/Shop_PhuocToan/FileContentIndex/9a2bb617-7437-4b5d-8803-35323f85186e.vsidx
Shop_PhuocToan/.vs/Shop_PhuocToan/FileContentIndex/c6e971bd-f330-4608-9b41-655749fda064.vsidx
Shop_PhuocToan/.vs/Shop_PhuocToan/FileContentIndex/e071ee03-b457-4240-8677-d4dc20945702.vsidx
Shop_PhuocToan/.vs/Shop_PhuocToan/v17/.suo
Shop_PhuocToan/.vs/Shop_PhuocToan/v17/DocumentLayout.backup.json
Shop_PhuocToan/.vs/Shop_PhuocToan/v17/DocumentLayout.json
Shop_PhuocToan/Shop_PhuocToan/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Shop_PhuocToan/Shop_PhuocToan/obj/Debug/Shop_PhuocToan.csproj.AssemblyReference.cache
