@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Quản lý đơn hàng";
}
@section page_header{
    <div class="d-flex align-items-center justify-content-between mb-3">
        <h1 class="h5 m-0">Quản lý đơn hàng</h1>
    </div>
}